<servlet>
	<servlet-name>Hello</servlet-name>
	<servlet-class>com.caucho.hessian.server.HessianServlet</servlet-class>
	<init-param>
		<param-name>home-class</param-name>
		<param-value>jzh.demo.imple.Hello</param-value>
	</init-param>
	<init-param>
		<param-name>home-api</param-name>
		<param-value>jzh.demo.IHello</param-value>
	</init-param>
	<load-on-startup>1</load-on-startup>
</servlet>

<servlet-mapping>
	<servlet-name>Hello</servlet-name>
	<url-pattern>/Hello</url-pattern>
</servlet-mapping> 